[submodule "backend"]
	path = backend
	url = https://github.com/jpalomarbl/Desarrollo-Frontend-Avanzado-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/jpalomarbl/Desarrollo-Frontend-Avanzado-Frontend
